*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */

}

.logo-pic{
    width: 150px;
    padding: 20px;
    /* border: 1px solid yellow; */
}

.menu-container{
    background-color: rgb(46, 46, 46);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid orange; */
}
.nav-items{
    width: 40%;
    padding: 20px;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    color: white;
    /* border: 1px solid red; */
}
.items{
    font-size: 1.1rem;

}
.items:hover{
    color: coral;
    cursor: pointer;
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-image: url("./images/background.png"),
    linear-gradient(45deg,#131313,#5f5f5f)
}
.left-banner-section{
    color: white;
}
.banner-right-image{
    width: 400px;
}
.title{
    font-size: 3.2rem;
}
.explore,.contact-us{
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 500;
    background-color: red;
    border: 0;
    border-radius: 5px;
    color: white;
}
.explore:hover,.contact-us:hover{
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.493);
}
.discription{
    margin: 2rem 0;
}
.about-pic{
    width: 300px;
}
.main-about-section{
    background-color: rgb(255, 219, 175);
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.about-left{
    margin: 2rem 4rem;

}
.about-right{
    margin: 0 4rem;
}
.hhh{
    margin-bottom: 1rem;
}
.contact-us{
    margin-top: 1rem;
}
.about-h,.service-h{
    text-align: center;
    padding: 20px;
    background-color: bisque;
}
.about-h{
    background-color: #00000000;
}
.main-container{
    padding-top: 50px;
    background-image: none,
    linear-gradient(45deg,rgb(43, 43, 43),rgb(19, 19, 19));
}
.service-container{
    display: flex;
    justify-content: space-around;
    height: 380px;
}
.icon-image{
    width: 4rem;
}
.box{
    width: 220px;
    height: 280px;
    background-color: #181818;
    border-radius: 10px;
    margin: 0 5rem;
    text-align: center;
    padding: 15px;
    color: white;
    /* box-shadow: 4px 4px 15px gray; */
    box-shadow: 0px 0px 33px 2px rgba(179,179,179,1);
}
.details{
    background-color: rgba(128, 128, 128, 0.527);
    margin-top: 0.8rem;
}
.service-h{
    background-color: rgba(255, 255, 255, 0);
    font-size: 3.2rem;
    color: white;
    margin-bottom: 20px;
    
    
}
.digital-h{
    margin: 1rem 0;
}
.footer-container{
    background-image: none,
    linear-gradient(0deg,#111,#000);
    padding: 100px 200px 20px 200px;
}
.upper-part{
    display: flex;
    justify-content: space-around;
    color: white;
    
}
.column{
    list-style: none;

}
.bottom-logo{
    width: 170px;
    margin-bottom: 10px;
}
.upper-part h4{
    margin-bottom: 30px

}
hr{
    margin-top: 120px;
}
.upper-part li{
    line-height: 1.5rem;
}


.lower-part{
    text-align: center;
}
.lower-part p{
    color: white;
    font-size: 0.8rem;
    padding-top: 20px;
}